/* -------- COLORS -------- */
:root {
  --nav-color: #222222;
  --white: #fff;
  --black: #000;
  --blue: #0f82f5;
  --gray: #9f9fad;
  --light-gray: #e6e6e6;
  --dark-gray: #66687A;
}

/* -------- GENERAL -------- */
html {
  font-size: 10px;
}

body {
  background-color: var(--main-background-color);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
button,
section {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

main {
  width: 60%;
  margin: 0 auto;
}

section{
  margin: 2rem 0;
}

/* -------- NAVBAR -------- */

nav {
  height: 3.5rem;
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  height: 100%;
  margin-left: 20%;
  font-size: 1.2rem;
}

.nav-list > li {
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-list > li:hover {
  background-color: var(--black);
}

.nav-list > li > a {
  color: var(--white);
  text-decoration: none;
}

.nav-icon {
  color: var(--white);
  font-size: 0.9rem;
}

.nav-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20%;
}

.nav-search-input {
  width: 8rem;
  border-radius: 0;
  border: 1px solid var(--nav-color);
  outline: none;
  height: 1.8rem;
}

.nav-search-input::placeholder {
  font-size: 0.9rem;
  color: var(--gray);
  transform: translateY(-2px) translateX(5px);
}

.nav-search-input:focus {
  border: 1px solid var(--blue);
}

.button {
  background-color: var(--blue);
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--white);
}

.nav-search-button {
  width: 2rem;
  height: 2rem;
  margin-left: 0.2rem;
  padding: 0.5rem;
}

.nav-sub-list {
  position: absolute;
  top: 3.5rem;
  left: 0;
  list-style: none;
  background-color: var(--white);
  z-index: 100;
  min-width: 150%;
  border: 0.05rem solid var(--light-gray);
  border-top: none;
  padding: 0.5rem 0;
  display: none;
}

.nav-list-dropdown:hover .nav-sub-list {
  display: block;
}

.dropdown-break-line {
  width: 100%;
  height: 1px;
  background-color: var(--light-gray);
  margin: 0.5rem 0;
  display: block;
}

.nav-sub-list > li {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.nav-sub-list > li:hover {
  background-color: var(--blue);
}

.nav-sub-list > li > a {
  padding: 0.5rem 1rem;
  color: var(--nav-color);
  text-decoration: none;
}

.nav-sub-list > li > a:hover {
  color: var(--white);
}

/* -------- SOCIAL MEDIA -------- */

.social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media-icons-wrapper > i {
  margin: 0 0.2rem;
  font-size: 1.2rem;
}

.logo {
  font-size: 5rem;
  color: var(--blue);
  font-weight: 700;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

.follow-button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.5rem;
  font-weight: 600;
}

/* -------- ADVERTISEMENT -------- */

.advertisement-container {
  width: 100%;
  border: 1px solid var(--light-gray);
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertisement-text {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 100;
  padding: 1rem 0 0 2rem;
  align-self: flex-start;
}

.advertisement-banner {
  height: 12rem;
  width: 80%;
  padding: 0 0.5rem;
}

/* -------- LATEST NEWS -------- */

.latest-news{
  border-bottom: 1px solid var(--light-gray);
}

.latest-news-header{
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 700;
}

.latest-news-header:hover{
  color: var(--blue);
  cursor: pointer;
}

/* -------- MAIN ARTICLE -------- */

.main-article{
  display: flex;
  column-gap: 3rem;
}

.main-article-header{
  font-size: 3.5rem;
  padding: 1rem 0;
}

.main-article-image{
  width: 50%;
}

.main-article-date, .main-article-paragraph{
  font-size: 1.6rem;
  color: var(--dark-gray);
  line-height: 1.8rem;
}

